body,html{
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    background: #171615; /* Цвет фона страницы */
    z-index: -10000000000;
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    font-family: "Inter", sans-serif; /* Устанавливаем шрифт для страницы */
  }
  @font-face {
    font-family: 'Font Over';
    src: url('/src/assets/fonts/FontOver.otf') format('opentype');
  }